<nav class="navbar navbar-dark bg-black fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler me-auto border-0" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand ms-auto">
            <img class="imgLogo" src="./assets/logoblancoresiz.png">
        </a>
        <div class="offcanvas offcanvas-start bg-black text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-column">

                    <li class="imgLogo">
                        <img class="imgLogo" src="./assets/logoblancoresiz.png">
                    </li>
                    <br>
                    <br>
                    <li class="nav-item">
                        <a class="nav-link active" href="#inicio_id" (click)="closeOffcanvas()"
                            aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#timeline-btn" (click)="closeOffcanvas()">My journey</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tech_habilities_id" (click)="closeOffcanvas()">Tech abilities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#beyond_code_id" (click)="closeOffcanvas()">Beyond code</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact_id" (click)="closeOffcanvas()">Contact me</a>
                    </li>
                    <li>
                        <img src="." alt="" href="#">
                        <img src="thumbnail_IMG-20231023-WA0229.jpg" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>