.navbar-nav li {
    margin-bottom: 6%;
    margin-left: 25%;
}

#ugtexoticsnav {
    padding-top: 40%;
    padding-bottom: 20%;
    padding-right: 40%;
    margin-right: 30%;
    font-size: 30px;
    display: flex;
    align-items: center;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar {
    background: linear-gradient(135deg, #141414 0%, #010e2d 100%);
}

.navbar-toggler {
    border-color: transparent;
}

.offcanvas {
    width: 200px;
    margin-left: 0%;
    background: linear-gradient(135deg, #141414 0%, #010e2d 100%);
}

.offcanvas-start {
    left: 0;
    right: auto;
}

.offcanvas-body .nav-link,
.offcanvas-body .dropdown-item {
    color: white;
}

.imgLogo {
    max-width: 50px;
    max-height: 50px;
}