<footer class="footer">
    <div class="container">
        <div class="row text-center align-items-center">
            <div class="col-md-2 mx-auto">
                <img class="imgLogo" src="./assets/logoblancoresiz.png" alt="Logo de la Empresa">
            </div>
            <div class="col-md-4 mx-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a class="footText" href="https://www.linkedin.com/in/carlos-gutiérrez-vidal-1217812b1"
                            target="_blank">Linkedin</a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a class="footText" href="https://github.com/DevLitos" target="_blank">Github</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>